/* Google Fonts */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/*  Reset Default Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
       /* Navbar Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;

}
.logo{
    /* width: 140; */
    margin-top: 16px;
}
nav ul {
    display: flex;
     list-style: none;
    gap: 32px;
    /* padding: ; */
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    
}
.btn a{
    display: inline-block;
    padding: 12px 14px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #469165;
    
}
.btn .btn-two{
    background-color: transparent !important;
    border: 1px solid #FFFFFF;
    margin-left: 16px;
}
.btn a:hover {
    cursor: pointer;
    background-color: bisque;
    color: #000000;
}
    /* Banner Section  */
.banner-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0,0,0,0.6)), url(../images/banner-bg.png);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 115.5px 120px 179.5px;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    text-align: center;

}
.sub-header {
    display: inline-block;
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    margin-bottom: 40px;
    gap: 6px;
    align-items: center;
}
/* .sub-header-icon {
    align-items: center;
} */
.header {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    opacity: 90%;
}
.banner-section h1{
    text-transform: capitalize;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 24px;
    /* text-align: center; */
}
.banner-section p {
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
    
}

.h1-color {
    color: #469165;
    
}
/* notes section  */

.notes-section{
    text-align: center;
    padding: 100px 0;
}
.notes-section p{
    margin-bottom: 80px;
}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    
}
.cards p {
    margin-bottom: 0;
}

.cards div {
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 30px #627382;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 300px;


}
.cards img{
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 13px 14px;
}